/* Fonts */

@font-face {
  font-family: nyt-franklin;
  src: url(./font/franklin-normal-500.woff2);
}

/* General Rules */

* {
  margin: 0;
  padding: 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

/* Header */
header {
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding-top: 15px;
  background-color: white;
  z-index: 9999;
}

nav {
  justify-content: space-around;
  left: 10px;
  position: absolute;
}

nav div,
.navbar,
div a,
.logo a,
.logo,
.subscribe-login {
  display: inline-block;
}

nav div {
  padding-left: 5px;
}

.navbar-collapse {
  display: none;
}

.navbar-toggler-icon {
  font-size: 15px;
}

.search-toggler-icon {
  font-size: 15px;
}

.navigation button {
  border: none;
  background: none;
  cursor: pointer;
}

.search button {
  border: none;
  background: none;
  cursor: pointer;
  padding-left: 20px;
}

.article-title {
  padding-left: 20px;
}

.article-title a {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}

.logo {
  margin: 0 auto;
}

.logo a {
  width: 200px;
}

.subscribe-login {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 10px;
  top: 0;
}

.subscribe-login ul {
  list-style: none;
  margin-top: 7px;
}

.subscribe-login li {
  display: inline-block;
}

.subscribe-login button {
  border-radius: 3px;
  cursor: pointer;
  transition: ease 0.6s;
  white-space: nowrap;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  top: 0;
}

.subscribe-login button:hover {
  border: 1px solid #326891;
  background-color: #326891;
}

/* Body */

/* Jumbotron */

.article {
  text-align: center;
}

.heading {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-bottom: 1px solid #ebebeb;
  padding-top: 40px;
  margin-top: 80px;
}

.heading h1 {
  color: black;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: left;
}

.social {
  padding-top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.social ul {
  list-style: none;
  text-align: left;
}

.social li {
  display: inline-block;
  padding-left: 10px;
}

.social-link {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-decoration: none;
  color: #000;
}

.social-links {
  border-radius: 100%;
  background-color: #eee;
  border: 1px #eee solid;
  width: 27px;
  height: 27px;
}

.social-links:hover {
  background-color: white;
}

.social-links i {
  font-size: 12px;
  padding: 8px;
  color: black;
}

.title-img {
  margin-top: 40px;
}

.title-img img {
  height: auto;
  max-width: 100%;
  width: 80vw;
}

.title-img div {
  width: 80vw;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.title-img .first-cap {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  color: rgb(59, 59, 59);
  font-weight: 700;
}

.title-img .second-cap {
  font-size: 1rem;
  line-height: 1rem;
  margin-right: 7px;
  color: #888;
  font-weight: 700;
}

.author {
  margin: 40px 0 20px 0;
  width: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.author .name-date {
  color: #333;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
}
